.table {
    color: white;
  }
  
  :host::ng-deep .dropdown {
    width: 100%;
    height: 7.4vh;
    margin-top: 5px !important;
    background-color: #2d2d2d !important;
    color: white !important;
    border-radius: 0%;
  }
  
  :host::ng-deep .dropdown * {
    background-color: #2d2d2d !important;
    color: white;
  }
  :host::ng-deep .dropdown1 * {
    background-color: #191919 !important;
    color: white;
  }
  :host::ng-deep .dropdown1{
    width: 20%;
    height: 7.4vh;
    margin-top: 5px !important;
    background-color: #191919 !important;
    color: white !important;
  }
  
  ::ng-deep .externalDiv {
    padding: 50px !important;
  }
  
  ::ng-deep .calender * {
    margin-top: 1vh !important;
    background-color: #2d2d2d !important;
    color: white !important;
    width: 100% !important;
  }
  
  ::ng-deep .grid {
    margin-bottom: 3vh !important;
  }
  
  /* ::ng-deep .dropdown {
    width: 80% !important;
    background-color: #2d2d2d !important;
  } */
  
  ::ng-deep .card {
    background-color: #2d2d2d !important;
    color: white !important;
  }
  
  :host::ng-deep .analystNomenclatureTableCard * {
    border-radius: 10px !important;
    border: 2px solid #3b3b3b !important;
    overflow: hidden !important;
    color: white !important;
    margin-top: 20px !important;
  }
  
  ::ng-deep .tableList {
    background-color: #2d2d2d !important;
    color: white !important;
  }
  
  .tableHeader::ng-deep * {
    background-color: #191919 !important;
    color: white !important;
    padding: 10px !important;
  }
  
  tr:nth-child(even) {
    background-color: #3b3b3b !important;
    color: white;
  }
  tr:nth-child(odd) {
    background-color: #2d2d2d !important;
    color: white;
  }
  
  
  :host::ng-deep .addMappingButton{
    background-color: #D04A02 !important;
    color: white !important;
    border: none !important;
    float: right;
    margin-top: 1%;
  }
  
  ::ng-deep .dropdown,
  .inputBox {
    background-color: #2d2d2d !important;
    color: white;
    border-radius: 0%;
  }
  
  
  :host::ng-deep .searchInputBoxMapping{
    background-color: #191919 !important;
    color: white !important;
    font-size: medium !important;
    border-color: #50AD95 !important;
  }
  
  :host::ng-deep .lineItemsMapTable{
    margin-top: -1% !important;
    border-radius: 10px;
    border: 2px solid #3b3b3b !important;
    overflow: hidden !important;
  }
  
  .tableHeader::ng-deep * {
    background-color: #191919 !important;
    color: white !important;
    padding: 10px !important;
    border-bottom: none !important;
  }
  
  tr:nth-child(even) {
    background-color: #3b3b3b !important;
  }
  tr:nth-child(odd) {
    background-color: #2D2D2D !important;
  }
  
  ::ng-deep td{
    border-bottom: none !important;
  }
  
  ::ng-deep .addButton,.saveButton{
    background-color: #D04A02 !important;
    color: white !important;
    border: none !important;
  }
  
  ::ng-deep .col-fixed{
    font-weight: bold;
  }

  ::ng-deep .headerLabel2{
    margin-top: 5vh !important;
    font-family: Helvetica;
    font-size: x-large;
  }

  :host::ng-deep .customPaginator .p-paginator {
    background-color:#191919 !important;
  }
  
  .customPaginator .p-paginator .ui-paginator-page {
    color: white;
  }

  :host::ng-deep .UpdateAnalystdropdown * {
    background-color: #2d2d2d !important;
    color: white;

  }
::ng-deep .UpdateAnalystdropdown  {
    background-color: #2d2d2d !important;
    color: white;
padding: -1px;
  }

  :host::ng-deep .UpdateMasterdropdown * {
    background-color: #2d2d2d !important;
    color: white;

   
  }

  :host::ng-deep .analystdropdown1 *{
    background-color: #191919 !important;
    color: white !important;
    border: none;
  
  }
  
  ::ng-deep .analystdropdown1 {
    margin: 10px;

    border: 1px solid #26776d !important;
    background-color: #2d2d2d !important;
    color: white !important;
  }
::ng-deep .UpdateMasterdropdown{
    background-color: #2d2d2d !important;
    color: white;

  }

::ng-deep .AnalystinputBox  {
    background-color: #2d2d2d !important;
    color: white;
   
  }

  ::ng-deep .saveButton{
    background-color: #D04A02 !important;
    color: white !important;
    border: none !important;
  }
  ::ng-deep .AnalystUpdateinputBox  {
    background-color: #2d2d2d !important;
    color: white;
   
  }