<div class="container">
  <div class="cardData">
    <div class="flex card-container">
      <div class="flex-none flex justify-content-center">
        <span class="logo1" style="float: left"
          ><h2>
            <i> <b style="font-size: xx-large">PwC |</b></i
            >   
         
          </h2>
         
        </span>
      </div>
      <div class="flex-grow-1 flex align-items-left justify-content-center m-2">
        <span
          style="margin-top: 10px !important; margin-left: 25px"
          class="title1"
          >Investor Relations Platform
        </span>
      </div>
      <div
        style="margin-top: 10px !important"
        class="flex-none flex align-items-center justify-content-center m-2 px-3"
      >
        <img
          src="assets/Images/notification_icon.png"
          class="pi pi-angle-double-right"
          alt=""
        />
        &nbsp; &nbsp;
        <span class="profile" (click)="op.toggle($event)">
          {{ userName.substring(0, 1) | uppercase }}</span
        >
        <p-overlayPanel #op>
          <ng-template pTemplate>
            <span style="cursor: pointer" (click)="onClickLogout()"
              >Logout</span
            >
          </ng-template>
        </p-overlayPanel>
      </div>
    </div>
  </div>

  <!-- Left Panel -->
  <div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
    <div class="logo-container">
      <span *ngIf="!collapsed" class="toggleIcon" (click)="toggleCollapse()">
        <img
          src="assets/Images/collapse_out.png"
          class="pi pi-angle-double-right"
          alt=""
          pTooltip="Open"
        />
      </span>

      <span *ngIf="collapsed" class="toggleIcon" (click)="toggleCollapse()">
        <img
          src="assets/Images/collapse_in.png"
          class="pi pi-angle-double-left"
          alt=""
          pTooltip="Collapse"
        />
        &nbsp; Collapse
      </span>
      <div class="logo-text" *ngIf="collapsed"></div>
    </div>
    <ul class="sidenav-nav">
      <li class="sidenav-nav-item" *ngFor="let data of navData">
        <a
          class="sidenav-nav-link"
          [routerLink]="[data.routeLink]"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="toggleCollapse1(data.view)"
        >
          <img
            [pTooltip]="data.label"
            class="sidenav-link-icon"
            [src]="[data.image]"
            alt=""
          />

          <span class="sidenav-link-text" *ngIf="collapsed">
            {{ data.label }}
          </span>
        </a>
      </li>
    </ul>
  </div>

  <div class="pages">
    <div class="bradcrumb">
      <xng-breadcrumb [separator]="iconTemplate" class="readonly"></xng-breadcrumb>
      <ng-template #iconTemplate>
        <i class="pi pi-chevron-right" styleClass="bradcrumb readonly" ></i>
      </ng-template>
    </div>
    <router-outlet></router-outlet>
    <p-card styleClass="pcard"></p-card>
  </div>

  
</div>
