<!-- <div class="upperBody" *ngIf="addLineItem"> -->
<div *ngIf="lineItemsTable">
  <span class="p-input-icon-left searchbar" style="margin-bottom: 10px">
    <i class="pi pi-search"></i>
    <input
      style="border: 1px solid #50ad95"
      type="text"
      styleClass="searchInputBox"
      pInputText
      placeholder="Search"
      (input)="dt.filterGlobal($any($event.target).value, 'contains')"
    />
  </span>
  <button
    pButton
    class="p-button-sm button button1"
    label="Add ratio"
    icon="pi pi-plus-circle"
    (click)="addLneItem()"
  ></button>

  <p-table
    #dt
    dataKey="id"
    styleClass="p-datatable-sm financialRatioTable"
    responsiveLayout="scroll"
    scrollHeight="100vh"
    [value]="ratios"
    [globalFilterFields]="['id', 'lineItem', 'formula', 'formulaType']"
  >
    <ng-template pTemplate="header">
      <tr class="tableHeader">
        <th>Sr. No</th>
        <th>Ratio Name</th>
        <th>Formula</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product && let-i="rowIndex">
      <tr class="tablerow">
        <td>
          {{ i + 1 }}
        </td>

        <td>
          {{ product.lineItem }}
        </td>
        <td>
          {{ product.formula }}
        </td>
        <td>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteFormula(product.financialid)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- table to add line-items -->
<div *ngIf="topButtons">
  <h2>
    <i class="pi pi-chevron-left" (click)="onClickCancel()"></i>
    Add Financial Ratio
  </h2>
  <!-- </div>

<div *ngIf="createFormula"> -->

  <!-- create Finantial ratio form -->
  <form [formGroup]="financialRatioForm" autocomplete="off">
    <div style="margin: 5vh">
      <div class="grid p-fluid">
        <div class="field col-12 md:col-3">
          <label for="name" style="font-weight: bold;">Formula Name</label>

          <input
            type="text"
            class="p-inputtext"
            formControlName="lineItem"
            pInputText
            required
            placeholder="Enter"
            [(ngModel)]="lineItem"
          />
          <br />
          <small *ngIf="financialRatioForm.get('lineItem')?.invalid && financialRatioForm.get('lineItem')?.touched">
            <span *ngIf="financialRatioForm.get('lineItem')?.errors?.['required']" style="color: red">Enter Valid Line Item Name.</span>
            <span *ngIf="financialRatioForm.get('lineItem')?.errors?.['pattern']" style="color: red">&nbsp;Line Item Name contains Alphabets only.</span>
            <span *ngIf="financialRatioForm.get('lineItem')?.errors?.['minlength']" style="color: red">&nbsp;Line Item Name must be at least 3 characters long.</span>
            <span *ngIf="financialRatioForm.get('lineItem')?.errors?.['maxlength']" style="color: red">&nbsp;Line Item Name cannot be more than 15 characters long.</span>
          </small>
                  </div>
        <div class="field col-12 md:col-3">
          <label for="name">Line Item Source</label>


          <p-dropdown [options]="dataTypes" optionValue="type" [showClear]="true" optionLabel="type"
            placeholder="Select Line Item Source" styleClass="inputBox1" [(ngModel)]="selectedValue" (onChange)="onSelectLineItemSource()" formControlName="lineItemSource">
          </p-dropdown>
          <br>
          <!-- <small *ngIf="!financialRatioForm.get('formulaType')?.valid &&
         financialRatioForm.get('formulaType')?.touched">
            <span style="color: red;">Field Is Mandatory.</span>
          </small> -->
        
        </div>
      </div>
    </div>

    <p-card
      styleClass="externalCard"
      [style]="{ width: '98.9%', margin: '0px 5px 40px 20px' }"
    >
      <h4>Ratio Builder</h4>

      <ng-template pTemplate="content">
        <div class="p-fluid grid">
          <div class="p-fluid col-3">
            <p-card styleClass="accesscard">
              <ng-template pTemplate="title">
                <p>Line Item Name</p>
                <p-dropdown
                  [filter]="true"
                  filterBy="lineItem"
                  styleClass="dropdown4"
                  [options]="balanceSheetLineItem"
                  optionLabel="lineItem"
                  optionValue="lineItem"
                  placeholder="Attribute"
                  [style]="{ width: '100%' }"
                  [(ngModel)]="selectedLineItem"
                  [ngModelOptions]="{ standalone: true }"
                  (onChange)="onClickLineItem(selectedLineItem)"
                  #selectedAttribute="ngModel"
                  *ngIf="balanceSheetTableValues"
                >
                </p-dropdown>
                <p-dropdown
                [filter]="true"
                filterBy="lineItem"
                styleClass="dropdown4"
                [options]="cashFlowLineItem"
                optionLabel="lineItem"
                optionValue="lineItem"
                placeholder="Attribute"
                [style]="{ width: '100%' }"
                [(ngModel)]="selectedLineItem"
                [ngModelOptions]="{ standalone: true }"
                (onChange)="onClickLineItem(selectedLineItem)"
                #selectedAttribute="ngModel"
                *ngIf="CashFlowTableValues"
              >
              </p-dropdown>
              <p-dropdown
              [filter]="true"
              filterBy="lineItem"
              styleClass="dropdown4"
              [options]="incomeStatementLineItem"
              optionLabel="lineItem"
              optionValue="lineItem"
              placeholder="Attribute"
              [style]="{ width: '100%' }"
              [(ngModel)]="selectedLineItem"
              [ngModelOptions]="{ standalone: true }"
              (onChange)="onClickLineItem(selectedLineItem)"
              #selectedAttribute="ngModel"
              *ngIf="incomeStatmentTableValues"
            >
            </p-dropdown>
                <br />
                <!-- <small *ngIf="!selectedAttribute?.valid && selectedAttribute?.touched">
                <span style="color: red;font-size: 15px;"> Field Is Mandatory</span>
              </small> -->
              </ng-template>
            </p-card>
          </div>

          <div class="field col-12 md:col-3">
            <p-card styleClass="accesscard">
              <ng-template pTemplate="title">
                <p>Operations</p>
                <p-dropdown
                  [filter]="true"
                  filterBy="symbol"
                  styleClass="dropdown3"
                  [options]="operations"
                  optionLabel="symbol"
                  optionValue="symbol"
                  placeholder="Operations"
                  [style]="{ width: '100%' }"
                  [(ngModel)]="selectedSymbol"
                  [ngModelOptions]="{ standalone: true }"
                  (onChange)="onClickSymbol(selectedSymbol)"
                  #selectedSym="ngModel"
                  *ngIf="operationDrop"
                >
                </p-dropdown>
                <br />
                <!-- <small *ngIf="!selectedSym?.valid && selectedSym?.touched">
                 <span style="color: red; font-size: 15px;">Mandatory is Field</span>
               </small> -->
              </ng-template>
            </p-card>
          </div>
          <div class="field col-12 md:col-6">
            <h4 style="margin-top: -42px">Ratio Editor</h4>
            <p-card styleClass="formulaCard">
              <h3 style="color: white">{{lineItem}} :</h3>
              <br />
              <table>
                <tr
                  style="display: inline-block"
                  class="displayFlex"
                  *ngFor="let item of formula; let i = index"
                >
                  <td>{{ item.item }}</td>
                </tr>
              </table>
              <!-- <div class="displayFlex" *ngFor="let item of formula;let i = index">
                {{item.item}}
              
             </div> -->
            </p-card>
            <div class="footer">
              <button
                style="width: 60px; height: 25px"
                class="p-button-sm button"
                pButton
                (click)="onclear()"
              >
                Clear
              </button>
            </div>
          </div>
        </div>
      </ng-template>
    </p-card>
    <div style="text-align: right">
      <button
        class="p-button-sm p-button-outlined cancelButton1"
        pButton
        label="Cancel"
        (click)="onClickCancel()"
      ></button>
      &nbsp;
      <button
        [disabled]="
          !financialRatioForm.valid || !(selectedSymbol && selectedLineItem)
        "
        class="p-button-sm button saveButton1"
        pButton
        label="Save"
        (click)="onClickSave()"
      ></button>
    </div>
    <!-- <p-card styleClass="card"></p-card> -->
  </form>
</div>
<!-- Notification msg's -->
<p-toast></p-toast>
<p-confirmDialog
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>

<br /><br />

<ng-container *ngIf="isLoading">
  <div class="spinner"></div>
  <app-spinner></app-spinner>
</ng-container>
