<div class="upperBody" *ngIf="lineItemsTable">
  <span class="p-input-icon-left searchbar" style="margin-bottom: 10px">
    <i class="pi pi-search"></i>
    <input
      type="text"
      class="searchInputBox"
      pInputText
      placeholder="Search"
      (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
    />
  </span>
  <button
    pButton
    class="p-button-sm button button1"
    label="Add Details"
    icon="pi pi-plus-circle"
    (click)="addLneItem()"
  ></button>
  <button
    pButton
    class="p-button-sm button downloadbutton"
    label="Download Template"
    icon="pi pi-download"
    (click)="meetingData()"
  ></button>

  <div style="margin: 0%; padding: 0%">
    <!-- <span class="p-input-icon-left searchbar" style="margin-bottom: 10px">
          <i class="pi pi-search"></i>
          <input type="text" pInputText placeholder="Search" />
        </span> -->
    <p-table
      #dt1
      styleClass="p-datatable-sm meetingDataTable customPaginator"
      responsiveLayout="scroll"
      scrollHeight="100vh"
      [value]="lineItems"
      [globalFilterFields]="[
        'date',
        'startTime',
        'endTime',
        'organisation',
        'stakeholderType',
        'meetingType',
        'status'
      ]"
      [paginator]="true"
      [rows]="10"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
    >
      <ng-template pTemplate="header">
        <tr class="tableHeader">
          <th>Sr. No</th>
          <th>Meeting Date</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Organization</th>
          <th>Stakeholder Type</th>
          <th>Meeting Type</th>
          <th>Status</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product && let-i="rowIndex">
        <tr class="tablerow">
          <td>
            {{ i + 1 }}
          </td>

          <td>
            {{ product.date | date : "EEE, dd-MMM-yyyy" }}
          </td>
          <td>
            {{ product.startTime }}
          </td>
          <td>
            {{ product.endTime }}
          </td>
          <td>
            {{ product.organisation }}
          </td>
          <td>
            {{ product.stakeholderType }}
          </td>
          <td>
            {{ product.meetingType }}
          </td>
          <td>
            {{ product.status }}
          </td>
          <!-- <td>
              {{ product.folio }}
            </td> -->
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<!-- table to add line-items -->
<div *ngIf="topButtons">
  <label class="label">
    <i class="pi pi-chevron-left" (click)="onClickBack()"></i>
    Add Shareholder Meeting Details
  </label>
  <form [formGroup]="lineItemForm" autocomplete="off">
    <p-card
      styleClass="contactDetailsCard"
      [style]="{ width: '95%', margin: '0px 40px 40px 40px' }"
    >
      <ng-template pTemplate="content">
        <div class="p-fluid grid">
          <div class="field col-4">
            <div class="field">
              <label for="emailId">Date</label>
              <p-calendar
                class="inputBox"
                placeholder="Select Date"
                formControlName="dateString"
                dateFormat="dd/mm/yy"
                (onSelect)="onDateSelect($event)"
              ></p-calendar>
              <br />
              <small
                *ngIf="
                  lineItemForm.get('dateString')?.invalid &&
                  lineItemForm.get('dateString')?.touched
                "
              >
                <span
                  *ngIf="lineItemForm.get('dateString')?.errors?.['required']"
                  style="color: red"
                  >Mandetory Field</span
                >
              </small>
            </div>

            <div class="field">
              <label for="organization">Organization</label>
              <input
                class="inputBox"
                type="text"
                id="organization"
                pInputText
                formControlName="organisation"
                placeholder="Enter"
                [pattern]="orgnisationPattern"
                required
              />
              <br />
              <small
                *ngIf="
                  lineItemForm.get('organisation')?.invalid &&
                  lineItemForm.get('organisation')?.touched
                "
              >
                <span
                  *ngIf="lineItemForm.get('organisation')?.errors?.['required']"
                  style="color: red"
                  >Enter Valid Organization Name.</span
                >
                <span
                  *ngIf="lineItemForm.get('organisation')?.errors?.['pattern']"
                  style="color: red"
                  >&nbsp;Organization Name contains Alphabets only.</span
                >
                <span
                  *ngIf="lineItemForm.get('organisation')?.errors?.['minlength']"
                  style="color: red"
                  >&nbsp;Organization Name must be at least 3 characters
                  long.</span
                >
                <span
                  *ngIf="lineItemForm.get('organisation')?.errors?.['maxlength']"
                  style="color: red"
                  >&nbsp;Organization Namev cannot be more than 15 characters
                  long.</span
                >
              </small>
            </div>
            <!-- </div>
            <div class="field col-12 md:col-4"> -->
            <div class="field">
              <label for="folio">Direct/ Broker Meeting</label>
              <p-dropdown
                [options]="meetingsWith"
                optionLabel="meetingWith"
                optionValue="meetingWith"
                placeholder="Select"
                styleClass="dropdownbroker"
                formControlName="broker"
                [required]="true"
              ></p-dropdown>
              <br />
              <small
                *ngIf="
                  lineItemForm.get('broker')?.invalid &&
                  lineItemForm.get('broker')?.touched
                "
              >
                <span
                  *ngIf="lineItemForm.get('broker')?.errors?.['required']"
                  style="color: red"
                  >Mandetory Field</span
                >
              </small>
            </div>
            <!-- </div>
            <div class="field col-12 md:col-4"> -->
            <div class="field">
              <label for="subject">Subject</label>
              <input
                class="inputBox"
                type="text"
                id="meetingType"
                ccc
                formControlName="subject"
                placeholder="Enter"
                pInputText
                [pattern]="subjectPattern"
                required
              />
              <br />
              <small
                *ngIf="
                  lineItemForm.get('subject')?.invalid &&
                  lineItemForm.get('subject')?.touched
                "
              >
                <span
                  *ngIf="lineItemForm.get('subject')?.errors?.['required']"
                  style="color: red"
                  >Enter Valid Subject.</span
                >
                <span
                  *ngIf="lineItemForm.get('subject')?.errors?.['pattern']"
                  style="color: red"
                  >&nbsp;Subject Name contains Alphabets only.</span
                >
                <span
                  *ngIf="lineItemForm.get('subject')?.errors?.['minlength']"
                  style="color: red"
                  >&nbsp;Subject Name must be at least 3 characters long.</span
                >
                <span
                  *ngIf="lineItemForm.get('subject')?.errors?.['maxlength']"
                  style="color: red"
                  >&nbsp;Subject Name cannot be more than 15 characters
                  long.</span
                >
              </small>
            </div>
            <!-- </div>
            <div class="field col-12 md:col-4"> -->
            <div class="field">
              <label for="location">Location</label>
              <input
                class="inputBox"
                type="text"
                formControlName="location"
                placeholder="Enter"
                id="location"
                pInputText
                required
              />
              <br />
              <small
                *ngIf="
                  lineItemForm.get('location')?.invalid &&
                  lineItemForm.get('location')?.touched
                "
              >
                <span
                  *ngIf="lineItemForm.get('location')?.errors?.['required']"
                  style="color: red"
                  >Field Is Mandatory.</span
                >
                <span
                  *ngIf="lineItemForm.get('location')?.errors?.['pattern']"
                  style="color: red"
                  >&nbsp;Location contains Alphabets and Numbers.</span
                >
                <span
                  *ngIf="lineItemForm.get('location')?.errors?.['minlength']"
                  style="color: red"
                  >&nbsp;Location must be at least 3 characters long.</span
                >
                <span
                  *ngIf="lineItemForm.get('location')?.errors?.['maxlength']"
                  style="color: red"
                  >&nbsp;Location cannot be more than 250 characters long.</span
                >
              </small>
            </div>
            <!-- </div>
            <div class="field col-12 md:col-4"> -->
            <div class="field">
              <label for="holdingPercentage">Status</label>
              <p-dropdown
                [options]="status"
                optionLabel="status"
                optionValue="status"
                placeholder="Select"
                styleClass="dropdownstatus"
                formControlName="status"
                [required]="true"
              ></p-dropdown>
              <br />
              <small
                *ngIf="
                  lineItemForm.get('status')?.invalid &&
                  lineItemForm.get('status')?.touched
                "
              >
                <span
                  *ngIf="lineItemForm.get('status')?.errors?.['required']"
                  style="color: red"
                  >Mandetory Field</span
                >
              </small>
            </div>
          </div>
          <div class="col-1"></div>
          <div class="col-7">
            <div class="grid">
              <div class="col-6">
                <div class="field">
                  <label for="minorcode">Start Time</label>
                  <!-- <input
                    class="inputBoxstartTime"
                    type="text"
                    id="holdingPercentage"
                    pInputText
                    placeholder="Enter"
                    formControlName="startTime"
                    required
                  /> -->
                  <p-inputMask
                    styleClass="inputBoxstartTime"
                    formControlName="startTime"
                    mask="99:99 aa"
                    placeholder="12:30 AM/PM"
                  ></p-inputMask>
                  <!-- <p-calendar styleClass="inputBoxstartTime border-round" formControlName="startTime" [timeOnly]="true"  hourFormat="12"></p-calendar> -->
                  <br />
                  <small
                    *ngIf="
                      lineItemForm.get('startTime')?.invalid &&
                      lineItemForm.get('startTime')?.touched
                    "
                  >
                    <span
                      *ngIf="lineItemForm.get('startTime')?.errors?.['required']"
                      style="color: red"
                      >Field Is Mandatory.</span
                    >
                    <span
                      *ngIf="lineItemForm.get('startTime')?.errors?.['pattern']"
                      style="color: red"
                      >&nbsp;Time should be in following format 11:22 AM or
                      12:33 PM.</span
                    >
                  </small>
                </div>
              </div>

              <div class="col-6">
                <div class="field">
                  <label for="emailId">End Time</label>
                  <!-- <input
                    class="inputBoxendTime"
                    type="text"
                    id="holdingPercentage"
                    pInputText
                    placeholder="Enter"
                    formControlName="endTime"
                    required
                  /> -->
                  <p-inputMask
                    styleClass="inputBoxendTime"
                    formControlName="endTime"
                    mask="99:99 aa"
                    placeholder="01:30 AM/PM"
                  ></p-inputMask>
                  <!-- <p-calendar styleClass="inputBoxendTime border-round" formControlName="endTime" [timeOnly]="true"  hourFormat="12"></p-calendar> -->
                  <br />
                  <small
                    *ngIf="
                      lineItemForm.get('endTime')?.invalid &&
                      lineItemForm.get('endTime')?.touched
                    "
                  >
                    <span
                      *ngIf="lineItemForm.get('endTime')?.errors?.['required']"
                      style="color: red"
                      >Field Is Mandatory.</span
                    >
                    <span
                      *ngIf="lineItemForm.get('endTime')?.errors?.['pattern']"
                      style="color: red"
                      >&nbsp;Time should be in following format 11:22 AM or
                      12:33 PM.</span
                    >
                  </small>
                </div>
              </div>
              <div class="col-6">
                <div class="field">
                  <label for="emailId">Stakeholder Type</label>
                  <p-dropdown
                    [options]="stakeholders"
                    optionLabel="stakeholderType"
                    optionValue="stakeholderType"
                    placeholder="select"
                    styleClass="dropdownstakeholderType"
                    placeholder="Enter"
                    formControlName="stakeholderType"
                    [required]="true"
                  ></p-dropdown>
                  <br />
                  <small
                    *ngIf="
                      lineItemForm.get('stakeholderType')?.invalid &&
                      lineItemForm.get('stakeholderType')?.touched
                    "
                  >
                    <span
                      *ngIf="lineItemForm.get('stakeholderType')?.errors?.['required']"
                      style="color: red"
                      >Mandetory Field</span
                    >
                  </small>
                </div>
              </div>
              <div class="col-6">
                <div class="field">
                  <label for="emailId">Meeting Type</label>
                  <p-dropdown
                    [options]="meetingTypes"
                    optionLabel="meetingType"
                    optionValue="meetingType"
                    placeholder="select"
                    styleClass="dropdownmeetingType"
                    placeholder="Enter"
                    formControlName="meetingType"
                    [required]="true"
                  ></p-dropdown>
                  <br />
                  <small
                    *ngIf="
                      lineItemForm.get('meetingType')?.invalid &&
                      lineItemForm.get('meetingType')?.touched
                    "
                  >
                    <span
                      *ngIf="lineItemForm.get('meetingType')?.errors?.['required']"
                      style="color: red"
                      >Mandetory Field</span
                    >
                  </small>
                </div>
              </div>
              <div class="col-12">
                <div class="field">
                  <label for="emailId">Comments</label>
                  <input
                    class="inputBox"
                    type="text"
                    id="coments"
                    pInputText
                    placeholder="Enter"
                    formControlName="comments"
                    required
                    [pattern]="commentPattern"
                  />
                  <br />
                  <small
                    *ngIf="
                      lineItemForm.get('comments')?.invalid &&
                      lineItemForm.get('comments')?.touched
                    "
                  >
                    <span
                      *ngIf="lineItemForm.get('comments')?.errors?.['required']"
                      style="color: red"
                      >Enter valid Comments.</span
                    >
                    <span
                      *ngIf="lineItemForm.get('comments')?.errors?.['pattern']"
                      style="color: red"
                      >&nbsp;Comments Contains Alphabets Only.</span
                    >
                    <span
                      *ngIf="lineItemForm.get('comments')?.errors?.['minlength']"
                      style="color: red"
                      >&nbsp;Comments must be at least 3 characters long.</span
                    >
                    <span
                      *ngIf="lineItemForm.get('comments')?.errors?.['maxlength']"
                      style="color: red"
                      >&nbsp;Comments cannot be more than 15 characters
                      long.</span
                    >
                  </small>
                </div>
              </div>
              <div class="col-12">
                <div class="field">
                  <label for="emailId">Participants</label>
                  <textarea
                    class="inputBox"
                    type="text"
                    id="holdingPercentage"
                    pInputTextarea
                    class="dropdownparticipants"
                    placeholder="Enter"
                    formControlName="participants"
                    required
                    [pattern]="participantsPattern"
                  ></textarea>
                  <br />
                  <small
                    *ngIf="
                      lineItemForm.get('participants')?.invalid &&
                      lineItemForm.get('participants')?.touched
                    "
                  >
                    <span
                      *ngIf="lineItemForm.get('participants')?.errors?.['required']"
                      style="color: red"
                      >Enter valid Participants.</span
                    >
                    <span
                      *ngIf="lineItemForm.get('participants')?.errors?.['pattern']"
                      style="color: red"
                      >&nbsp;Participants Contains Alphabets Only.</span
                    >
                    <span
                      *ngIf="lineItemForm.get('participants')?.errors?.['minlength']"
                      style="color: red"
                      >&nbsp;Participants must be at least 3 characters
                      long.</span
                    >
                    <span
                      *ngIf="lineItemForm.get('participants')?.errors?.['maxlength']"
                      style="color: red"
                      >&nbsp;Participants cannot be more than 15 characters
                      long.</span
                    >
                  </small>
                </div>
              </div>
              <div class="col-12">
                <div class="field">
                  <label for="emailId">Feedback</label>
                  <input
                    class="inputBox"
                    type="text"
                    id="holdingPercentage"
                    pInputText
                    placeholder="Enter"
                    formControlName="feedback"
                    required
                    [pattern]="feedbackPattern"
                  />
                  <br />
                  <small
                    *ngIf="
                      lineItemForm.get('feedback')?.invalid &&
                      lineItemForm.get('feedback')?.touched
                    "
                  >
                    <span
                      *ngIf="lineItemForm.get('feedback')?.errors?.['required']"
                      style="color: red"
                      >Enter Valid Feedback Details.</span
                    >
                    <span
                      *ngIf="lineItemForm.get('feedback')?.errors?.['pattern']"
                      style="color: red"
                      >&nbsp;FeedBack Details Contains Alphabets Only.</span
                    >
                    <span
                      *ngIf="lineItemForm.get('feedback')?.errors?.['minlength']"
                      style="color: red"
                      >&nbsp;Feedback Details must be at least 3 characters
                      long.</span
                    >
                    <span
                      *ngIf="lineItemForm.get('feedback')?.errors?.['maxlength']"
                      style="color: red"
                      >&nbsp;Feedback Details cannot be more than 225 characters
                      long.</span
                    >
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-card>
    <div style="text-align: right">
      <button
        class="p-button-sm p-button-outlined cancelButton4"
        pButton
        label="Cancel"
        (click)="onClickBack()"
      ></button>
      &nbsp;
      <button
        [disabled]="!lineItemForm.valid"
        class="p-button-sm saveButton4"
        pButton
        label="Save"
        (click)="onClickSave()"
      ></button>
    </div>
    <!-- <p-card styleClass="card"></p-card> -->
  </form>
</div>
<!-- Notification msg's -->
<p-toast></p-toast>
<p-confirmDialog
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>

<br /><br />
<ng-container *ngIf="isLoading">
  <div class="spinner"></div>
  <app-spinner></app-spinner>
</ng-container>
