<div class="container">
  <div>
    <p-card styleClass="accessCard1"> </p-card>
  </div>
  <div class="container1">
    <div class="a">
      <p-card styleClass="summeryCard">
        <h3 style="margin-top: -20px">Summery :</h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, nostrum
        non ratione eos velit doloremque debitis natus molestiae quidem amet
        adipisci repudiandae architecto consectetur earum a. Aspernatur aliquam
        fuga ipsam.
        <br />
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint possimus
        officia asperiores ipsam non vitae rerum ex. Quo minima rem autem nemo
        ducimus illum eligendi, unde consequatur assumenda aliquid architecto?
      </p-card>
    </div>
    <div class="b">
      <p-card styleClass="attendanceCard">
        <h3 style="margin-top: -20px">Attendees :</h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, nostrum
        non ratione eos velit doloremque debitis natus molestiae quidem amet
        adipisci repudiandae architecto consectetur earum a. Aspernatur aliquam
        fuga ipsam.
        <br />
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint possimus
        officia asperiores ipsam non vitae rerum ex. Quo minima rem autem nemo
        ducimus illum eligendi, unde consequatur assumenda aliquid architecto?
      </p-card>
    </div>
  </div>
</div>
