<div *ngIf="stockTable" class="tableBody">
    <span class="p-input-icon-left searchbar" style="margin-bottom: 10px">
        <i class="pi pi-search"></i>
        <input
          type="text"
          class="searchInputBox"
          pInputText
          placeholder="Search"
          (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
        />
      </span>
      <button
        pButton
        class="p-button-sm button button1"
        label="Add Field"
        icon="pi pi-plus-circle"
        (click)="addStockEstimate()"
      ></button>

      <div style="margin: 0%; padding: 0%">
        <p-table
          #dt1
          styleClass="p-datatable-sm stockEstimateTable customPaginator"
          responsiveLayout="scroll"
          scrollHeight="100vh"
          [value]="stockItems"
          [paginator]="true"
          [rows]="10"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [showCurrentPageReport]="true"
          [globalFilterFields]="['fields', 'description', 'type','constraints','createdOn','modifiedOn']"
         
        >
          <ng-template pTemplate="header">
            <tr class="tableHeader">
              <th>Sr. No</th>
              <th>Field's</th>
              <th>Description</th>
              <th>Type</th>
              <th>Constraints</th>
              <th>Created On</th>
              <th>Modified On</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product && let-i="rowIndex">
            <tr class="tablerowmain">
              <td>
                {{ i + 1 }}
              </td>
    
              <td>
                {{ product.fields }}
              </td>
              <td>
                {{ product.description }}
              </td>
              <td>
                {{ product.type }}
              </td>
              <td>
                {{ product.constraints }}
              </td>
              <td>
                {{ product.createdOn }}
              </td>
              <td>
                {{ product.modifiedOn }}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
</div>

<div *ngIf="stockEstimateForm">
    <label class="stockLabel">
        <i class="pi pi-chevron-left" (click)="onClickBack()"></i> Add Field
      </label>

      <div style="text-align: left; margin-top: 40px">
        <button
        style="float: right"
        type="button"
        pButton
        type="button"
        icon="pi pi-plus-circle"
        class="p-button button"
        label="Add"
        (click)="addField()"
      ></button>
    </div>
    <br>
    <br>
    <div class="stockEstimateForm">
        <form [formGroup]="stockEstimatedForm" novalidate>
            <div formArrayName="stockRow">
                <p-table
                #dt
                [value]="stockEstimate.controls"
                styleClass="p-datatable stockEstimateTable"
                responsiveLayout="scroll"
                scrollHeight="100vh"
              >
                <ng-template pTemplate="header">
                  <tr class="tableHeader">
                    <th style="width: 7rem">Sr. no</th>
                    <th>Report Table Header</th>
                    <th>Description</th>
                    <th style="width: 15rem">Type</th>
                    <th>Constraints</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-stockEstimate && let-i="rowIndex">
                  <tr class="tablerow" [formGroupName]="i">
                    <td>{{ i + 1 }}</td>
                    <td>
                      <span>
                        <input
                          style="width: 100%"
                          pInputText
                          type="text"
                          placeholder="Enter"
                          formControlName="reportHeader"
                          required
                        
                        />
                        <div
                          *ngIf="
                            !stockEstimate.controls.reportHeader?.valid &&
                            (stockEstimate.controls.reportHeader?.dirty ||
                            stockEstimate.controls.reportHeader?.touched)
                          "
                        >
                          <span style="color: red; font-size: 15px"
                            >Report Header is required.</span
                          >
                        </div>
                      </span>
                    </td>
                    <td>
                      <span>
                        <textarea pInputTextarea
                        style="width: 100%"
                        [autoResize]="true"
                        type="text"
                        formControlName="description"
                        required
                        [required]="true"
                        placeholder="Enter"
                      >
                  </textarea>
                        <div
                          *ngIf="
                            !stockEstimate.controls.description?.valid &&
                            (stockEstimate.controls.description?.dirty ||
                            stockEstimate.controls.description?.touched)
                          "
                        >
                          <span style="color: red; font-size: 15px"
                            >Alternative Name is required.</span
                          >
                        </div>
                      </span>
                    </td>
                    <td>
                      <span>
                      <p-dropdown
                        styleClass="dropdownbalance1"
                        [options]="lineItemTypes"
                        optionLabel="type"
                        optionValue="type"
                        placeholder="Select"
                        appendTo="body"
                        [required]="true"
                        formControlName="type"
                      
      
                      ></p-dropdown>
                      <div
                      *ngIf="!stockEstimate.controls.type?.valid && (stockEstimate.controls.type?.dirty
                      ||stockEstimate.controls.type?.touched)">
                        <span style="color: red;font-size: 15px;">Type is required.</span>
                    </div>
                    </span>
                    </td>
                    <td>
                        <span>
                            <textarea pInputTextarea
                              style="width: 100%; "
                              [autoResize]="true"
                              type="text"
                              formControlName="constraints"
                              required
                              [required]="true"
                              placeholder="Enter"
                            >
                        </textarea>
                            <div
                              *ngIf="
                                !stockEstimate.controls.constraints?.valid &&
                                (stockEstimate.controls.constraints?.dirty ||
                                stockEstimate.controls.constraints?.touched)
                              "
                            >
                              <span style="color: red; font-size: 15px"
                                >constraints Name is required.</span
                              >
                            </div>
                          </span>
                    </td>
                    <td>
                      <span *ngIf="i > 0">
                        <button
                          class="p-button-sm button"
                          pButton
                          icon="pi pi-times"
                          (click)="removeRow(i)"
                        ></button>
                      </span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
            <br>
            <br>
            <button
            class="p-button-sm button"
            pButton
            label="Save"
            (click)="onClickSaveAll()"
            style="float: right"
            [disabled]="!stockEstimatedForm.valid"
          ></button>
            </form>
    </div>
</div>
