<div *ngIf="tabmenus">
  <h2 style="color: white">Configuration</h2>
  <span (click)="onClickMenu($event)">
    <p-tabMenu
      class="tabmenu"
      routerLinkActive="active"
      [model]="items"
      [activeItem]="items[0]"
      [ngClass]="status ? 'menuClass' : 'menuclass1'"
    >
    </p-tabMenu>
  </span>
  <span class="dropdown" *ngIf="masterDatabaseDropdown">
    <p-dropdown
      styleClass="tableList"
      [options]="docList"
      [(ngModel)]="selectedTableName"
      optionLabel="docName"
      optionValue="docName"
      placeholder="select"
      (onChange)="onClickTable()"
    ></p-dropdown>
  </span>
</div>
<div>
  <router-outlet></router-outlet>
</div>
