:host::ng-deep .AnalystOptionDropdown *{
    background-color: #191919 !important;
    color: white;
    border-color: #50AD95 !important;


  }
  

:host::ng-deep .AnalystOptionDropdown {
    width: 23% !important;
    /* height: 7.4vh !important; */
    margin-top: 30px;
 
    background-color: #191919 !important;
    color: white !important;
    border-color: #50AD95 !important;
    
  }