<!-- <span *ngIf="tabmenus">
  <p-dropdown
    styleClass="AnalystOptionDropdown"
    [options]="clientSetupOptions"
    [(ngModel)]="SelectedOption"
    placeholder="Select"
    optionLabel="name"
    optionValue="name"
    (onChange)="onSelectOption()"
  ></p-dropdown>
</span> -->
<span *ngIf="tabmenus">
  <p-dropdown
  
    styleClass="AnalystOptionDropdown"
    [options]="clientSetupOptions"
    [(ngModel)]="SelectedOption"
    placeholder="Select"
    optionLabel="name"
    optionValue="name"
    (onChange)="onSelectOption()"
  ></p-dropdown>
  </span>

<div>

  <router-outlet></router-outlet>
</div>