<div class="wholeCard">
<form [formGroup]="document" autocomplete="off">
  <label class="headerLabel1">
    <i
      style="cursor: pointer"
      class="pi pi-chevron-left"
      (click)="onClickBack()"
      style="width: 16px; height: 10px; cursor: pointer"
    ></i>
    Upload New Data
  </label>
  <!-- card for new data entry -->
  <!-- <div *ngIf="FormTableBox">
    <p-card
      styleClass="uploadDataCard"
      [style]="{ width: '98%', margin: '50px 20px 20px 10px' }"
    >
      <ng-template pTemplate="content">
        <div class="grid p-fluid">
          <div class="field col-12 md:col-4">
            <label for="clientId">Client</label>
            <p-cascadeSelect

              [options]="industry"
              optionLabel="cname"
              optionGroupLabel="name"
              optionValue="cname"
              [optionGroupChildren]="['companies']"
              placeholder="Client"
              styleClass="cascade"
              formControlName="client"
            [required]="true"
            
            ></p-cascadeSelect>
            <br />
            <small *ngIf="document.get('client')?.invalid && document.get('client')?.touched" style="color: red">
              <span>Client is required.</span>
            </small>
            <small *ngIf="document.get('client')!.invalid && document.get('client')!.touched" style="color: red">
              Client is required.
            </small>
            
          </div>
          <div class="field col-12 md:col-4">
            <label for="PortfolioID">Document Type</label>
            <p-cascadeSelect
              [options]="documents"
              optionLabel="dname"
              optionValue="dname"
              optionGroupLabel="name"
              [optionGroupChildren]="['Doctype']"
              placeholder="Document Type"
              styleClass="cascade"
              (onChange)="onSelectDocument()"
              formControlName="documentType"
              required
            ></p-cascadeSelect>
            <br />
            <small *ngIf="document.get('documentType')?.invalid && document.get('documentType')?.touched" style="color: red">
              <span *ngIf="document.get('documentType')?.errors?.['required']">Client is required.</span>
            </small>
          </div>
          <div class="field col-12 md:col-4" *ngIf="peerName">
            <label for="folio">Peer Names</label>
          <input
            id="peerName"
            type="text"
            class="peerName"
            pInputText
            formControlName="peerName"
            required="true"
            *ngIf="peerName"
          />

            <br />
            <small
              *ngIf="
                !document.get('peerName')?.valid &&
                document.get('peerName')?.touched
              "
            >
              <span style="color: red">Mandetory Field</span>
            </small>
          </div>
          <div class="field col-12 md:col-4" *ngIf="analystName">
            <label for="shareholderName">Analyst Name</label>
            <p-dropdown
              styleClass="analystDropdown"
              placeholder="Analyst"
              [options]="analystDetails"
              defaultLabel="Analyst Name"
              optionLabel="analystName"
              optionValue="analystName"
              placeholder="Select Analyst Name"
              selectedItemsLabel="{0} items selected"
              *ngIf="analystName"
              formControlName="analystName"
              selectedItemsLabel="1"
            
            >
            </p-dropdown>
            <br />
            <small
              *ngIf="
                !document.get('analystName')?.valid &&
                document.get('analystName')?.touched
              "
            >
              <span style="color: red">Mandetory Field</span>
            </small>
            </div>
        </div>
        <div class="grid p-fluid">
          <div class="field col-12 md:col-4">
            <label for="holdingValue">Units</label>
            <p-dropdown
              placeholder="Units"
              [options]="units"
              [(ngModel)]="selectedUnit"
              optionLabel="totalUnits"
              optionValue="totalUnits"
              formControlName="units"
              appendTo="body"
              styleClass="unitsDropdown"
              (onChange)="filterCurrencies()"
                        ></p-dropdown>
            <small
              *ngIf="
                !document.get('units')?.valid && document.get('units')?.touched
              "
            >
              <span style="color: red">Mandatory Field</span>
            </small>
          </div>
          <div class="field col-12 md:col-4">
            <label for="holdingPercentage">Currency</label>
            <p-dropdown
            [options]="filteredCurrencies"
            [(ngModel)]="selectedCurrency"
              placeholder="Currency"
              optionLabel="totalCurrency"
              optionValue="totalCurrency"
              formControlName="currency"
              appendTo="body"
              styleClass="currencyDropdown"
              
            >
        
         </p-dropdown>
            <small
              *ngIf="
                !document.get('currency')?.valid &&
                document.get('currency')?.touched
              "
            >
              <span style="color: red">Mandatory Field</span>
            </small>
          </div>
          <div class="field col-12 md:col-4">
            <label for="denomination">Denomination</label>
            <p-dropdown
            placeholder="Denomination"
            [options]="currencyValue"
            optionLabel="totalDenomination"
            optionValue="totalDenomination"
            formControlName="denomination"
            appendTo="body"
            styleClass="unitsDropdown"
           
             ></p-dropdown>
             <small
             *ngIf="
               !document.get('denomination')?.valid &&
               document.get('denomination')?.touched
             "
           >
             <span style="color: red">Mandatory Field</span>
           </small>
          </div>
        </div>

        <div class="grid p-fluid">
          <div class="field col-12 md:col-4">
            <label for="minorcode">Report Type</label>
            <p-cascadeSelect
              [options]="reportType"
              optionLabel="rType"
              optionGroupLabel="name"
              optionValue="rType"
              [optionGroupChildren]="['reportData']"
              placeholder="Report Type"
              styleClass="cascade"
              formControlName="reportType"
              required
            ></p-cascadeSelect>

            <br />
            <small
              *ngIf="
                !document.get('reportType')?.valid &&
                document.get('reportType')?.touched
              "
            >
              <span style="color: red">Mandatory Field</span>
            </small>

          </div>
          <div class="field col-12 md:col-4">
            <label for="emailId">Report Date</label>
            <input
              type="date"
              class="calender2 p-inputtext-sm"
              placeholder="Report To"
              formControlName="reportDate"
              pInputText
            />

            <br />
            <small
              *ngIf="
                !document.get('reportDate')?.valid &&
                document.get('reportDate')?.touched
              "
            >
              <span style="color: red">Mandatory Field</span>
            </small>
          </div>
          <div class="field col-12 md:col-4">
            <label for="upload">Select File</label>
            <br />
            <span Class="upload">
              <input
                class="padding"
                type="file"
                pInputText
                id="dos"
                name="file"
                required
                style="width: 100%"
                id="file"
                (change)="selectFile($event)"
                accept=".pdf"
                multiple
              />
            </span>
          </div>
        </div>
      </ng-template>
    </p-card>
    <button
      style="float: right"
      [disabled]="!document.valid"
      pButton
      icon="pi pi-upload"
      label="Upload Data"
      class="uploadBtn"
      (click)="onClickUpload()"
    ></button>
  </div> -->

<div>
  <p-card
  styleClass="uploadDataCard"
  [style]="{ width: '98%', margin: '50px 20px 20px 10px' }"
>
<ng-template pTemplate="content">
  <div class="grid p-fluid justify-content-center">
    <div class="field col-12 md:col-4">
      <label for="clientId">Client</label>
      
      <!-- <p-dropdown
    styleClass="dropdownClient"
    placeholder="Select Client"
    [options]="allData"
    defaultLabel="Client"
    optionLabel="client"
    optionValue="client"
    selectedItemsLabel="{0} items selected"
    dropdownIcon="pi pi-filter"
    [showClear]="true"
    [filter]="true"
    filterBy="client"
    (onChange)="onSelectedClient($event)"
    >
  </p-dropdown> -->
      <p-cascadeSelect
      styleClass="cascade"
      [showClear]="true"
      formControlName="client"
        [options]="allData"
        optionLabel="name"  
        optionGroupLabel="name"
        [optionGroupChildren]="['states', 'clientId']"
        [style]="{ width: '13.7rem' }"
        placeholder="Select Client Name"
        appendTo="body"
        (onChange)="onSelectedClient($event)"
      ></p-cascadeSelect>
      <br />
      <small *ngIf="document.get('client')?.invalid && document.get('client')?.touched" style="color: red">
        <span>Client is required.</span>
      </small>
      <small *ngIf="document.get('client')!.invalid && document.get('client')!.touched" style="color: red">
        Client is required.
      </small>
      
    </div>
    <div class="field col-12 md:col-4">
      <label for="upload">Select Files</label>
      <br />
      <span Class="upload">
        <input
          class="padding"
          type="file"
          pInputText
          id="dos"
          name="file"
          required
          style="width: 100%"
          id="file"
          (change)="selectFile($event)"
          accept=".pdf"
          multiple
        />
      </span>
    </div>
    </div>
</ng-template>
</p-card>
<button
      style="float: right"
      [disabled]="!document.valid && !this.selectedFiles"
      pButton
      icon="pi pi-upload"
      label="Upload Files"
      class="uploadBtn"
      (click)="onClickUploadMultiple()"
    ></button>
</div>
  <ng-container *ngIf="isLoading">
    <div class="spinner1"></div>
    <app-spinner></app-spinner>
  </ng-container>
</form>
</div>
<br />
<br />

<!-- <div *ngIf="overRideCard">

  <p-dialog [(visible)]="overRideCard" [modal]="true" styleClass="existingDataCardOverride">
    <div>
      <p>Warning</p>
      <span class="cancel-icon pi pi-times " (click)="onClickCancel()"></span>
    </div>
    <hr class="lineinCard"/>
    <p style=" font-size: large; font-weight: bold;">Files already exists for this Client and date combination.</p>
    <p style=" font-size: large; font-weight: bold;">Do you want to override existing data?</p>
    <div class="card-buttons" *ngFor="let data of existingFiles; let i = index">
      <span>{{data.fileName}}</span>   &nbsp;&nbsp;
      <button class="OverRideButton" pButton label="Override" icon="pi pi-clone" (click)="onClickOverRide(data,i)"></button>
      &nbsp;&nbsp;
      <button class="CancelOverButton" pButton label="Cancel"  (click)="ClickCancel(i)"></button>
    </div>
    <div class="footer" style="margin-left: 20%; margin-top: 20px;">
      <button class="overrideAllButton" pButton label="Override All" icon="pi pi-clone" (click)="onClickOverRideAll(existingFiles)"></button>
      &nbsp;&nbsp;
      <button class="CancelAllButton" pButton label="Cancel All"  (click)="onClickCancelAll()"></button>
    </div>
    
  </p-dialog>
</div> -->



  <p-dialog [(visible)]="overRideCard" (onHide)="cancelCard()" [modal]="true" styleClass="existingDataCardOverride">
    <div class="flex flex-wrap">
    <h2 style="margin-top: -1%; ">Warning</h2>
    <!-- <span  style="float: right;margin-left: 70%;" class="cancel-icon pi pi-times " (click)="onClickCancel()"></span> -->
  </div>
    <hr class="lineinCard" style="color:#d04a02; width: 100%;"/>
    <p style="text-align: center; font-size: large; font-weight: bold;">Files already exists for this Client and date combination.</p>
    <p style="text-align: center; font-size: large; font-weight: bold;">Do you want to override existing data?</p>

    <div class="cardButtons" *ngFor="let data of existingFiles; let i = index">
      <span>{{data.fileName}}</span> ;
      <button class="OverRideButton" pButton label="Override" icon="pi pi-clone" (click)="onClickOverRide(data,i)"></button>
      <button class="CancelOverButton" pButton label="Cancel"  (click)="ClickCancel(i)"></button>
    </div>

    <div class="footer-Buttons">
      <button class="overrideAllButton" pButton label="Override All" icon="pi pi-clone" (click)="onClickOverRideAll(existingFiles)"></button>
      &nbsp;&nbsp;
      <button class="CancelAllButton" pButton label="Cancel All"  (click)="onClickCancelAll()"></button>
    </div>
    
  </p-dialog>


<!-- Notification msg's -->
<p-toast></p-toast>
<p-confirmDialog
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>
