::ng-deep .dropdown {
    background-color: #2d2d2d !important;
    color: white !important;
    border-color: #50AD95 !important;
  }
  
  ::ng-deep input,
  .content {
    background-color: #2d2d2d !important;
    color: white !important;
  }
  
  :host::ng-deep .dropdown * {
    background-color: #2d2d2d !important;
    color: white;
    border-color: #50AD95 !important;
  }
  
  /* new css */
  
  table {
    counter-reset: section;
  }
  
  .count:before {
    counter-increment: section;
    content: counter(section);
  }
  
  ::ng-deep .tableList {
    background-color: #2d2d2d !important;
    color: white !important;
  }
  
  .tableHeader::ng-deep * {
    background-color: #191919 !important;
    color: white !important;
    padding: 10px !important;
  }
  
  .tablerow,
  .table::ng-deep * {
    /* background-color: #191919 !important; */
    color: white !important;
  }
  
  ::ng-deep .button {
    background-color: #d04a02 !important;
    color: white !important;
    border: 1px solid #d04a02 !important;
    border-radius: 7%;
  }

  ::ng-deep .outlinedButton {
    color: #d04a02 !important;
    border: 1px solid #d04a02 !important;    
  }
  
  
  ::ng-deep .uploadButton {
    color: #d04a02 !important;
    border: 1px solid #d04a02 !important;
  }
  
  ::ng-deep tr {
    font-family: Helvetica;
    font-size: 18px;
  }
  
  ::ng-deep .searchbar{
    border-color: #50AD95 !important;
    text-align: left;
    margin-top: 20px;
    font-size: medium;
  }
  
  ::ng-deep .button1{
    float: right;
    border-radius: 0%;
    font-family: Helvetica;
    font-size: 18px;
    margin-top: 25px;
    border-radius: 3px !important;
  }
  
  tr:nth-child(even) {
    background-color: #3b3b3b !important;
  }
  tr:nth-child(odd) {
    background-color: #2D2D2D !important;
  }
  
  ::ng-deep .contactDetailsTable {
    margin-top: 20px !important;
    border-radius: 10px;
    border: 2px solid #3b3b3b !important;
    overflow: hidden !important;
  }
  
  ::ng-deep .contactDetailsTable tr:last-child td {
    border-bottom: 0 solid;
  }
  
  ::ng-deep .searchInputBoxContact {
    border: 1px solid #50ad95 !important;
  }   

  ::ng-deep .contactDetailsCard {
    margin-top: 20px !important;
    background-color: #2D2D2D !important;
    color: white !important;
    font-family: Helvetica !important;
  }

  ::ng-deep .inputBoxname{
    margin-top: 1vh;
    margin-bottom: 3vh;
    width: 100%;
  }
  ::ng-deep .inputBoxadd{
    margin-top: 1vh;
    margin-bottom: 3vh;
    width: 100%;
  }
  ::ng-deep .inputBoxpoc{
    margin-top: 1vh;
    margin-bottom: 3vh;
    width: 100%;
  }
  ::ng-deep .inputBoxcontact{
    margin-top: 1vh;
    margin-bottom: 3vh;
    width: 100%;
  }
  ::ng-deep .inputBoxemail{
    margin-top: 1vh;
    margin-bottom: 3vh;
    width: 100%;
  }

  ::ng-deep .cancelButton3 {
    color: #d04a02 !important;
    /* width: 7% !important; */
    width: 80px;
  }
  
  ::ng-deep .saveButton3 {
    background-color: #d04a02 !important;
    color: white !important;
    border: none !important;
    width: 80px;
    /* width: 7% !important; */
  }

  ::ng-deep .label{
    cursor: pointer !important;
    font-size: larger !important;
    color: white;
  
  }

  ::ng-deep .card{
    background-color: #191919;
    margin-top: 5vh;
  }

  ::ng-deep textarea{
    background-color: #2D2D2D !important;
    color: white !important;
  }


  .field {
    margin: -5px 0px;
  }

  .spinner {
    /* backdrop-filter: blur(2px); */
    background-color: rgba(188, 170, 170, 0.2);
    content: " ";
    top: 0;
    left: 0;
    height: 99%;
    width: 100%;
    position: absolute;
  
  }
  app-spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  ::ng-deep .customPaginator .p-paginator {
    background-color:#191919 !important;
  }
  
  .customPaginator .p-paginator .ui-paginator-page {
    color: white;
  }

  ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    border: none !important;
  }