<div class="upperBody" *ngIf="lineItemsTable">
  <span class="p-input-icon-left searchbar" style="margin-bottom: 10px">
    <i class="pi pi-search"></i>
    <input type="text" class="searchInputBoxContact" 
    pInputText placeholder="Search"
    (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
    
    />
  </span>
  <button
    pButton
    class="p-button-sm button button1"
    label="Add Details"
    icon="pi pi-plus-circle"
    (click)="addLneItem()"
  ></button>

  <div style="margin: 0%; padding: 0%" >
    <!-- <span class="p-input-icon-left searchbar" style="margin-bottom: 10px">
          <i class="pi pi-search"></i>
          <input type="text" pInputText placeholder="Search" />
        </span> -->
    <p-table
        #dt1
      styleClass="p-datatable-sm contactDetailsTable customPaginator"
      responsiveLayout="scroll"
      scrollHeight="100vh"
      [value]="lineItems"
      [globalFilterFields]="[
      'name',
      'poc',
      'address',
      'email',
      'contact',
      'minorcode']"
      [paginator]="true"
      [rows]="10"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
    >
      <ng-template pTemplate="header">
        <tr class="tableHeader">
          <th>Sr. No</th>
          <th>Name</th>
          <th>POC</th>
          <th>Address</th>
          <th>Email</th>
          <th>Contact</th>
          <th>Minorcode</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product && let-i="rowIndex">
        <tr class="tablerow">
          <td>
            {{ i + 1 }}
          </td>

          <td>
            {{ product.name }}
          </td>
          <td>
            {{ product.poc }}
          </td>
          <td>
            {{ product.address }}
          </td>
          <td>
            {{ product.email }}
          </td>
          <td>
            {{ product.contact }}
          </td>
          <td>
            {{ product.minorcode }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<!-- table to add line-items -->
<div *ngIf="topButtons">
  <!-- 
        <button
          pButton
          type="button"
          icon="pi pi-plus-circle"
          class="p-button-sm button"
          label="Add"
          appNewrow
          [table]="dt"
          [newRow]="newRow()"
        ></button> -->

  <label class="label">
    <i class="pi pi-chevron-left" (click)="onClickCancle()"></i>
    Add Shareholder Contact Details
  </label>
  <form [formGroup]="lineItemForm" autocomplete="off">
    <p-card
      styleClass="contactDetailsCard"
      [style]="{ width: '95%', margin: '0px 40px 40px 40px' }"
    >
      <ng-template pTemplate="content">
        <div class="grid fluid">
          <label for="clientId" style="margin-top: 10px;width: 75px">Name</label>
          <div class="field col-12 md:col-3">
             <input
              class="p-pInputText-sm inputBoxname"
              type="text"
              id="name"
              formControlName="name"
              pInputText
              required
              placeholder="Enter"
            />
            <br>
         <small *ngIf="lineItemForm.get('name')?.invalid && lineItemForm.get('name')?.touched">
              <span *ngIf="lineItemForm.get('name')?.errors?.['required']" style="color: red">Enter Valid Name.</span>
              <span *ngIf="lineItemForm.get('name')?.errors?.['pattern']" style="color: red">&nbsp;Name contains Alphabets only.</span>
              <span *ngIf="lineItemForm.get('name')?.errors?.['minlength']" style="color: red">&nbsp;Name must be at least 3 characters long.</span>
              <span *ngIf="lineItemForm.get('name')?.errors?.['maxlength']" style="color: red">&nbsp;Name must be at least 3 to 255 characters long.</span>
            </small>
          </div>

          <label for="shareholderName"  style="margin-left: 40px;margin-top: 15px;width: 70px;">Address</label>
          <div class="field col-12 md:col-6">
            <textarea
              class="inputBoxadd"
              type="text"
              id="holdingPercentage"
              formControlName="address"
              pInputTextarea
              required
              placeholder="Enter"
            ></textarea>
            <br>
             <small *ngIf="lineItemForm.get('address')?.invalid && lineItemForm.get('address')?.touched">
              <span *ngIf="lineItemForm.get('address')?.errors?.['required']" style="color: red">Enter Valid Address.</span>
              <!-- <span *ngIf="lineItemForm.get('address')?.errors?.['pattern']" style="color: red">&nbsp;Address contains Alphabets And Numbers.</span> -->
              <span *ngIf="lineItemForm.get('address')?.errors?.['minlength']" style="color: red">&nbsp;Address must be at least 3 characters long.</span>
              <span *ngIf="lineItemForm.get('address')?.errors?.['maxlength']" style="color: red">&nbsp;Address must be at least 3 to 255 characters long.</span>
            </small>
           </div>
        </div>
        <div class="grid fluid">
          <label for="PortfolioID"  style="margin-top: 10px;width: 75px">POC</label>
          <div class="field col-12 md:col-3">
                      <input
              class="inputBoxpoc"
              formControlName="poc"
              type="text"
              id="PortfolioID"
              pInputText
              [pattern]="pocPattern"
              required
              placeholder="Enter"
            />
            <br>
            <small *ngIf="lineItemForm.get('poc')?.invalid && lineItemForm.get('poc')?.touched" >
              <span *ngIf="lineItemForm.get('poc')?.errors?.['required']" style="color: red">Enter Valid POC.</span>
              <span *ngIf="lineItemForm.get('poc')?.errors?.['pattern']" style="color: red">&nbsp;POC contains Alphabets only.</span>
              <span *ngIf="lineItemForm.get('poc')?.errors?.['minlength']" style="color: red">&nbsp;POC must be at least 3 characters long.</span>
              <span *ngIf="lineItemForm.get('poc')?.errors?.['maxlength']" style="color: red">&nbsp;POC must be at least 3 to 255 characters long.</span>
            </small>
          </div>
          <label for="holdingValue" style="margin-bottom: 10px"  style="margin-left: 40px;margin-top: 10px;width: 70px;">Contact</label>
          <div class="field col-12 md:col-3">
            <input
              class="inputBoxcontact"
              type="text"
              id="holdingValue"
              formControlName="contact"
              pInputText
              required
              [pattern]="contactPattern"
              placeholder="Enter"
            />
           <br>
            <small *ngIf="lineItemForm.get('contact')?.invalid && lineItemForm.get('contact')?.touched">
              <span *ngIf="lineItemForm.get('contact')?.errors?.['required']" style="color: red">Enter valid Mobile Number.</span>
              <span *ngIf="lineItemForm.get('contact')?.errors?.['pattern']" style="color: red">Invalid Mobile Number.</span>
            </small>
          </div>
        </div>

        <div class="grid p-fluid">
          <label for="folio"  style="margin-top: 10px;width:75px">Email</label>
          <div class="field col-12 md:col-3">
          
            <input
              class="inputBoxemail"
              type="text"
              formControlName="email"
              id="folio"
              pInputText
              required
              placeholder="Enter"
            />
            <br />
            <small
              *ngIf="
                !lineItemForm.get('email')?.valid &&
                lineItemForm.get('email')?.touched
              "
            >
              <span style="color: red">Enter Valid Email Address.</span>
            </small>
          </div>
        </div>
        <br>
        <div class="grid p-fluid">
          <label for="minorcode"  style="margin-top: 10px;width: 75px;" >Minorcode</label>
          <div class="field col-12 md:col-3">
            
            <p-dropdown
              [required]="true"
              styleClass="inputBox dropdown"
              formControlName="minorcode"
              [options]="minorcodes"
              optionLabel="minorcode"
              optionValue="minorcode"
              placeholder="Select"
              [required]="true"
            ></p-dropdown>
            <br />
            <small *ngIf="lineItemForm.get('minorcode')?.invalid && lineItemForm.get('minorcode')?.touched">
              <span *ngIf="lineItemForm.get('minorcode')?.errors?.['required']" style="color: red">Mandatory Field</span>
              </small> 
          </div>
        </div>
      </ng-template>
    </p-card>
    <div style="text-align: right">
      <button
        class="p-button-sm p-button-outlined cancelButton3"
        pButton
        label="Cancel"
        (click)="onClickCancle()"
      ></button>
      &nbsp;
      <button
        [disabled]="!lineItemForm.valid"
        class="p-button-sm saveButton3"
        pButton
        label="Save"
        (click)="onClickSave()"
      ></button>
    </div>
    <!-- <p-card styleClass="card"></p-card> -->
  </form>
</div>
<ng-container *ngIf="isLoading">
  <div class="spinner"></div>
  <app-spinner></app-spinner>
</ng-container>